<div class="container mt-2">
    <form #dynamicForm="ngForm" (ngSubmit)="dynamicForm.valid && saveName(dynamicForm)">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2 d-flex align-items-center">
                            Type
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" name="type" [(ngModel)]="type">
                                <option value="null">Select</option>
                                <option *ngFor="let input of inputList" [value]="input.input">{{input.input}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                            Validation
                        </div>
                        <div class="col-md-9">
                            <select (ngModelChange)="checkType($event)" class="form-control" name="validation"
                                [(ngModel)]="validation">
                                <option value="null" selected disabled>Select</option>
                                <option [value]=true>Required</option>
                                <option [value]=false> Not Required</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                            Label Name
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Label Name"  type="text" [(ngModel)]="name" name="labelName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="type" class="form-group w-100">
            <div> <label for="">{{name}}</label></div>
            <div>
                <input id="dynamic" placeholder="Enter {{name}}" [required]="isValidationSelected" name="dynamicField" [(ngModel)]="dynamicField"
                    #dynamic1="ngModel" [type]="type">
                <div class="text-danger" *ngIf="isValidationSelected && (dynamic1.invalid  && ( dynamic1.touched || dynamicForm.submitted))">
                    Valid {{name}} is required.
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>